<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5 text-danger" >Resett Password</h2>
                    {{#if logerr}}
                        <h3>{{logerr}}</h3>
                    {{/if}}
                    <form action="/reset-Password/otp-check" method="post">
                        

                        <!-- mobile input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form2Example2" class="form-control" name="userNum"/>
                            <label class="form-label" for="form2Example2">re ender mobile number</label>
                        </div>
                         <!-- mobile input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form2Example2" class="form-control" name="otp"/>
                            <label class="form-label" for="form2Example2">Enter otp</label>
                        </div>

                       

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">verify</button>
                         <!-- 2 column grid layout for inline styling -->
                        

                        
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->