<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-success">successfully password changed</h1><br>
                    <h2 class="text-success">Now Youcan ReLogin</h2>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->